@model List<UrunTakipDataModel>

<style>

    .form-select {
        width: 90%;
        padding: 8px;
        font-size: 16px;
        border: 2px solid #ccc;
        border-radius: 5px;
        background-color: #f8f9fa;
        transition: border-color 0.3s ease-in-out;
    }

        .form-select:hover {
            border-color: #007bff;
        }

        .form-select:focus {
            border-color: #007bff;
            outline: none;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }

    .hover-effect {
        color: black;
        transition: color 0.3s ease;
    }

        .hover-effect:hover {
            color: green;
        }

</style>

@if (TempData["SiparisOnay"] != null)
{
    <br />
    <br />
    <!-- container -->
    <div class="alert alert-success" role="alert" style="padding:50px;">
        <div class="container">
            <span style="font-weight:bold;font-size:30px;">
                Sipariş Başarılı Bir Şekilde Alındı!!
            </span>
            <br />
            <span style="font-weight:bold;font-size:20px;color:black">Siparişlerinizi Görmek İçin <a href="/UrunTakip/SiparisSayfasi" style="font-weight:bold;font-size:20px;text-decoration:underline">Tıklayın.</a></span>
        </div>
    </div>
    <div style="height:73vh;"></div>
    <!-- /container -->
}
else
{
    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb-tree">
                        <li style="text-transform:none;font-size:20px;">SEPET</li>
                    </ul>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <div class="section">

        <div id="aside" class="col-md-2" style="margin-left:20px;height:600px;">
            <!-- aside Widget -->
            <div class="aside">
                <h3 class="aside-title" style="text-transform:none">@ViewData["KullaniciFullName"]</h3>
                <div class="checkbox-filter">
                    <div class="input-checkbox">
                        <div style="margin-left:10px;">
                            <i class="bi bi-arrow-right-short"></i>
                            <a href="/UrunTakip/SepetSayfasi">Sepetim</a>
                        </div>
                        <div style="margin-left:10px;">
                            <i class="bi bi-arrow-right-short"></i>
                            <a href="/UrunTakip/SiparisSayfasi">Siparişlerim</a>
                        </div>
                        <div style="margin-left:10px;">
                            <i class="bi bi-arrow-right-short"></i>
                            <a href="/Kullanici/KullaniciSayfasi?pId=@ViewData["KullaniciId"]">Profil</a>
                        </div>
                        <div style="margin-left:10px;">
                            <i class="bi bi-arrow-right-short"></i>
                            <a href="/KullaniciKart/KullaniciKartListesi?pId=@ViewData["KullaniciId"]">Kayıtlı Kartlarım</a>
                        </div>
                        <div style="margin-left:10px;">
                            <i class="bi bi-arrow-right-short"></i>
                            <a href="/UrunYorum/UrunYorumSayfasi">Değerlendirmelerim</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /aside Widget -->
        </div>

        <div class="container">
            <div id="reviews">
                <div class="row">
                    <div class="col-md-5">
                        @if (Model.Count > 0)
                        {
                            foreach (var item in Model)
                            {
                                if (item.LaptopId != null)
                                {
                                    <button class="delete" onclick="SepetLaptopDurum(@item.LaptopId)" style="font-size:10px;"><i class="fa fa-close"></i></button>
                                    <ul class="reviews">
                                        <li style="cursor:pointer;" onclick="laptopdetay(event, @item.LaptopId)">
                                            <div class="review-heading">
                                                <img src="https://localhost:7044/images/@item.ResimUrl" width="130">
                                            </div>
                                            <div class="review-body">
                                                <br />
                                                <h5 class="hover-effect">@item.UrunAdi</h5>
                                                <button class="qty-btn" onclick="AdetDurumSayfasi(@item.Id, -1)">-</button>
                                                <span style="font-weight:bold;">@item.Adet</span>
                                                <button class="qty-btn" onclick="AdetDurumSayfasi(@item.Id, 1)">+</button>
                                                <span class="price" style="font-weight:bold;font-size:20px;">
                                                    @Formatting.FormatTurkLirasi(item.Fiyat.Value)
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                }
                                else if (item.MonitorId != null)
                                {
                                    <button class="delete" onclick="SepetMonitorDurum(@item.MonitorId)" style="font-size:10px;"><i class="fa fa-close"></i></button>
                                    <ul class="reviews">
                                        <li style="cursor:pointer;" onclick="monitordetay(event, @item.MonitorId)">
                                            <div class="review-heading">
                                                <img src="https://localhost:7044/images/@item.ResimUrl" width="130">
                                            </div>
                                            <div class="review-body">
                                                <br />
                                                <h5 class="hover-effect">@item.UrunAdi</h5>
                                                <button class="qty-btn" onclick="AdetDurumSayfasi(@item.Id, -1)">-</button>
                                                <span style="font-weight:bold;">@item.Adet</span>
                                                <button class="qty-btn" onclick="AdetDurumSayfasi(@item.Id, 1)">+</button>
                                                <span class="price" style="font-weight:bold;font-size:20px;">
                                                    @Formatting.FormatTurkLirasi(item.Fiyat.Value)
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                }
                                else if (item.MouseId != null)
                                {
                                    <button class="delete" onclick="SepetMouseDurum(@item.MouseId)" style="font-size:10px;"><i class="fa fa-close"></i></button>
                                    <ul class="reviews">
                                        <li style="cursor:pointer;" onclick="mousedetay(event, @item.MouseId)">
                                            <div class="review-heading">
                                                <img src="https://localhost:7044/images/@item.ResimUrl" width="130">
                                            </div>
                                            <div class="review-body">
                                                <br />
                                                <h5 class="hover-effect">@item.UrunAdi</h5>
                                                <button class="qty-btn" onclick="AdetDurumSayfasi(@item.Id, -1)">-</button>
                                                <span style="font-weight:bold;">@item.Adet</span>
                                                <button class="qty-btn" onclick="AdetDurumSayfasi(@item.Id, 1)">+</button>
                                                <span class="price" style="font-weight:bold;font-size:20px;">
                                                    @Formatting.FormatTurkLirasi(item.Fiyat.Value)
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                }
                            }
                        }
                        else
                        {
                            <h2>SEPETİN BOŞ HEMEN ALIŞVERİŞ YAPMAYA BAŞLA!!</h2>
                            <br />
                            <a href="/Home/UrunlerListSayfasi" style="font-weight:bold"><i class="bi bi-hand-index"></i> Ürünlere Git</a>
                        }
                    </div>
                    <div class="col-md-5">
                        <!-- Order Details -->
                        <div class="order-details">
                            <div class="section-title text-center">
                                <h3 class="title">SEPETİM</h3>
                            </div>
                            <div class="order-summary">
                                <div class="order-col">
                                    <div><strong>ÜRÜN</strong></div>
                                    <div><strong>FİYAT</strong></div>
                                </div>
                                <div class="order-products">
                                    @foreach (var item in Model)
                                    {
                                        <div class="order-col">
                                            <div style="color:black">@item.Adet x @item.UrunAdi</div>
                                            <div style="color:black">@Formatting.FormatTurkLirasi(item.Fiyat.Value)</div>
                                        </div>
                                    }
                                </div>
                                <div class="order-col">
                                    <div style="color:black">KARGO</div>
                                    <div><strong>BEDAVA</strong></div>
                                </div>
                                <div class="order-col">
                                    <div><strong>TOPLAM FİYAT</strong></div>
                                    <div><strong class="order-total">@Formatting.FormatTurkLirasi(Convert.ToDecimal(Model.Sum(i => i.Fiyat)))</strong></div>
                                </div>
                                <br />
                                <div class="order-col">
                                    <div><strong>ÖDEME YÖNTEMİ</strong></div>
                                    <div>
                                        <strong>
                                            <select asp-items="@ViewBag.KullaniciKartAdiList"
                                                    class="form-select"
                                                    id="kullanicikartlist">
                                                <option selected value="">Seçiniz </option>
                                            </select>
                                        </strong>
                                    </div>

                                </div>
                                @if (TempData["ErrorMessage"] != null)
                                {
                                    <span style="color:red;font-weight:bold">@TempData["ErrorMessage"]</span>
                                }
                            </div>
                            <div class="payment-method">
                                <div class="input-checkbox">
                                    <input type="checkbox" id="terms">
                                    <label for="terms">
                                        <span></span>
                                        <a href="/Hakkimizda/SartlarKosullarSayfasi" target="_blank" style="text-decoration: underline">Şartlar ve Koşulları</a> okudum ve kabul ediyorum.
                                    </label>
                                    @if (TempData["CheckboxErrorMessage"] != null)
                                    {
                                        <br />
                                        <span style="color:red;font-weight:bold">@TempData["CheckboxErrorMessage"]</span>
                                    }
                                </div>
                                <a href="#" onclick="SiparisDurum()" class="primary-btn order-submit" style="background-color:black">SEPETİ ONAYLA</a>
                            </div>
                        </div>
                        <!-- /Order Details -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
}

@section AECScript {
    <script type="text/javascript">

        document.addEventListener('DOMContentLoaded', function () {
            var messageBox = '@TempData["MessageBox"]';
            if (messageBox == 4) {
                MessageBox("success", "Ürün Favorilere Eklendi");
            }
            else if (messageBox == 5) {
                MessageBox("success", "Ürün Favorilerden Çıkarıldı");
            }
            else if (messageBox == 6) {
                MessageBox("success", "Ürün Sepete Eklendi");
            }
            else if (messageBox == 7) {
                MessageBox("success", "Ürün Sepetten Çıkarıldı");
            }
            else if (messageBox == 8) {
                MessageBox("success", "Tüm Favoriler Sepete Eklendi!!");
            }
            else if (messageBox == 9) {
                MessageBox("success", "Tüm Favoriler Silindi!!");
            }
            else if (messageBox == 10) {
                MessageBox("success", "Tüm Sepet Silindi!!");
            }

            var SiparisBos = '@TempData["SiparisBos"]';
            if (SiparisBos == 1) {
                MessageBox("error", "Sepetin Boş!! Satın Alınacak Ürün Bulunamadı.");
            }

        });

        function AdetDurumSayfasi(productId, change) {
            $.ajax({
                url: '/UrunTakip/AdetDurum',
                type: 'GET',
                data: { pId: productId, pAdet: change },
                success: function (response) {
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    MessageBox("error", "Ürün adeti güncellenirken bir hata oluştu!!");
                }
            });
        }

        function SiparisDurum() {

            var secilenKart = document.querySelector('#kullanicikartlist').value;

            var terms = null;
            if (document.getElementById('terms').checked) {
                terms = 1;
            }

            $.ajax({
                url: '/UrunTakip/SiparisDurum',
                type: 'GET',
                data: { secilenKart: secilenKart, terms: terms },
                success: function (response) {
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    MessageBox("error", "Sipariş onaylanırken bir hata oluştu!!");
                }
            });
        }

        function laptopdetay(event, id) {
            if (!event.target.closest('button')) {
                window.location.href = '/Home/LaptopDetay?pLaptopId=' + id;
            }
        }

        function monitordetay(event, id) {
            if (!event.target.closest('button')) {
                window.location.href = '/Home/MonitorDetay?pMonitorId=' + id;
            }
        }

        function mousedetay(event, id) {
            if (!event.target.closest('button')) {
                window.location.href = '/Home/MouseDetay?pMouseId=' + id;
            }
        }

    </script>
}