@model HomeDataModel

@{
    List<KategoriDataModel> kategoriList = ViewData["KategoriList"] as List<KategoriDataModel>;
    List<KategoriDataModel> mainKategoriList = kategoriList.Where(i => i.MainKategoriId == null).ToList();
}

<style>
    .product-name {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        min-height: 60px; /* Ad alanı sabit yükseklikte olur */
        overflow: hidden; /* Uzun adların taşmasını engeller */
    }
</style>

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    @if (Model.UrunResmiList != null && Model.UrunResmiList.Count > 0)
                    {
                        foreach (var item in Model.UrunResmiList)
                        {
                            <div class="product-preview">
                                <img src="https://localhost:7044/images/@item.ResimUrl" alt="">
                            </div>
                        }
                    }
                </div>
            </div>
            <!-- /Product main img -->
            <!-- Product thumb imgs -->
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    @if (Model.UrunResmiList != null && Model.UrunResmiList.Count > 0)
                    {
                        foreach (var item in Model.UrunResmiList)
                        {
                            <div class="product-preview">
                                <img src="https://localhost:7044/images/@item.ResimUrl" alt="">
                            </div>
                        }
                    }
                </div>
            </div>
            <!-- /Product thumb imgs -->
            @if (Model.GetLaptop != null)
            {
                <!-- Product details -->
                <div class="col-md-5">
                    <div class="product-details">
                        <h2 class="product-name" style="text-transform:none;font-size:25px;">@Model.GetLaptop.LaptopAdi</h2>
                        <div>
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <a class="review-link" href="#"><i class="bi bi-chat-left-text-fill" style="position: relative; top: 2px;"></i> 10 Değerlendirme</a>
                        </div>
                        <div>
                            <h3 class="product-price">@Formatting.FormatTurkLirasi(@Model.GetLaptop.Fiyat.Value) <del class="product-old-price">@Formatting.FormatIndirimsizFiyat(@Model.GetLaptop.Fiyat.Value, 5)</del></h3>
                            <span class="product-available">Stokta Var</span>
                        </div>
                        <ul style="margin-top:5px;color:black;font-weight:bold">
                            <li>> @Model.GetLaptop.IslemciIdName</li>
                            <li>> @Model.GetLaptop.IsletimSistemiIdName</li>
                            <li>> @Model.GetLaptop.EkranKartiIdName</li>
                            <li>> @Model.GetLaptop.CozunurlukIdName @Model.GetLaptop.YenilemeHiziIdName</li>
                            <li>> @Model.GetLaptop.BellekIdName</li>
                            <li>> @Model.GetLaptop.DepolamaIdName</li>
                            <li>> 2 Adet Disk Desteği (2x M.2 SSD)</li>
                            <li>> @Model.GetLaptop.Klavye</li>
                        </ul>
                        <br />
                        <a href="#teknikozellikler" style="font-size:15px;margin:10px;"><i class="bi bi-caret-down-fill"></i> Tüm Teknik Özellikler</a>
                        <br />
                        <br />
                        <div class="add-to-cart">
                            <div class="qty-label">
                                Adet
                                <div class="input-number" style="margin-left:5px;">
                                    <input type="number" value="1">
                                    <span class="qty-up">+</span>
                                    <span class="qty-down">-</span>
                                </div>
                            </div>
                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>
                        </div>

                        <ul class="product-btns">
                            <li><a href="#"><i class="fa fa-heart-o"></i> FAVORİLERE EKLE</a></li>
                        </ul>

                        @foreach (var item in mainKategoriList)
                        {
                            if (item.Id == 1)
                            {
                                <ul class="product-links">
                                    <li>KATEGORİ:</li>
                                    <li><a href="/Home/UrunlerListSayfasi?pId=@item.Id">@item.KategoriAdi</a></li>
                                </ul>
                            }
                        }

                    </div>
                </div>
                <!-- /Product details -->
                <!-- Product tab -->
                <div class="col-md-12">
                    <div id="product-tab">
                        <!-- product tab nav -->
                        <ul class="tab-nav">
                            <li class="active"><a data-toggle="tab" href="#tab1">Detaylar</a></li>
                            <li><a data-toggle="tab" href="#tab2">Değerlendirmeler (3)</a></li>
                        </ul>
                        <!-- /product tab nav -->
                        <!-- product tab content -->
                        <div class="tab-content">
                            <!-- tab1  -->
                            <div id="tab1" class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2 class="text-center">GeForce RTX™ 40 Serisi Monster Notebooklar</h2>
                                        <br />
                                        <h3 class="text-center">HIZLININ ÖTESİNDE</h3>
                                        <br />
                                        <h4 class="text-center">
                                            NVIDIA® GeForce RTX™ 40 Serisi Monster Notebook GPU'ları,
                                            oyuncular ve içerik oluşturucular için dünyanın en hızlı dizüstü bilgisayarlarına güç sağlıyor.
                                            Son derece verimli NVIDIA Ada Lovelace mimarisi ile geliştirilen bu GPU'lar,
                                            yapay zeka destekli DLSS 3 ile performansta dev bir artış sağlar ve tam ışın izleme ile gerçekçi sanal dünyalara olanak tanır.
                                            Ayrıca Max-P ve Max-Q teknolojileri en yüksek verimlilik için sistem performansını, gücü, pil ömrünü ve akustiği optimize eder.
                                        </h4>
                                        <br />
                                        <h4 class="text-center">Oyuncular ve içerik oluşturucular için en iyi platform.</h4>
                                        <br />
                                        <h2 class="text-center">GeForce RTX™ 40 Serisi ve DLSS 3 Tarafından Desteklenmektedir</h2>
                                        <br />
                                        <h4 class="text-center">
                                            Yeni Duraksız İşlem Özellikli Çoklu İşlemciler
                                            2 kata kadar performans ve enerji tasarrufu
                                        </h4>
                                        <h4 class="text-center">
                                            Dördüncü Nesil Tensor Çekirdekleri
                                            Her noktanın değerini ayrı hesaplama yaklaşımına kıyasla DLSS 3 ile 4 kata kadar performans
                                        </h4>
                                        <h4 class="text-center">
                                            Üçüncü Nesil RT Çekirdekleri
                                            2 kata kadar Ray Tracing performansı
                                        </h4>
                                        <br />
                                        <br />
                                        <br id="teknikozellikler" />
                                        <h1 style="color:#329d00">Teknik Özellikler</h1>
                                        <br />
                                        <div class="d-flex align-items-center">
                                            <span style="font-size:25px;">İşletim Sistemi</span>
                                            <div class="flex-grow-1 ms-2" style="border-bottom: 1px solid #329d00;"></div>
                                        </div>
                                        <br />
                                        <div class="row" style="font-weight:bold;">
                                            <div class="col-md-2">
                                                <span style="font-size:16px;">
                                                    İşletim Sistemi
                                                </span>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col">
                                                <span>@Model.GetLaptop.IsletimSistemiIdName</span>
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="d-flex align-items-center">
                                            <span style="font-size:25px;">İşlemci Özellikleri</span>
                                            <div class="flex-grow-1 ms-2" style="border-bottom: 1px solid #329d00;"></div>
                                        </div>
                                        <br />
                                        <div class="row" style="font-weight:bold;">
                                            <div class="col-md-2">
                                                <span style="font-size:16px;">
                                                    İşlemci Mimarisi
                                                </span>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col">
                                                <span>@Model.GetLaptop.IslemciMimarisiIdName</span>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row" style="font-weight:bold;">
                                            <div class="col-md-2">
                                                <span style="font-size:16px;">
                                                    İşlemci
                                                </span>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col">
                                                <span>@Model.GetLaptop.IslemciIdName</span>
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="d-flex align-items-center">
                                            <span style="font-size:25px;">Ekran Kartı Özellikleri</span>
                                            <div class="flex-grow-1 ms-2" style="border-bottom: 1px solid #329d00;"></div>
                                        </div>
                                        <br />
                                        <div class="row" style="font-weight:bold;">
                                            <div class="col-md-2">
                                                <span style="font-size:16px;">
                                                    Ekran Kartı
                                                </span>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col">
                                                <span>@Model.GetLaptop.EkranKartiIdName</span>
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="d-flex align-items-center">
                                            <span style="font-size:25px;">Ekran Özellikleri</span>
                                            <div class="flex-grow-1 ms-2" style="border-bottom: 1px solid #329d00;"></div>
                                        </div>
                                        <br />
                                        <div class="row" style="font-weight:bold;">
                                            <div class="col-md-2">
                                                <span style="font-size:16px;">
                                                    Ekran
                                                </span>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col">
                                                <span>@Model.GetLaptop.CozunurlukIdName @Model.GetLaptop.YenilemeHiziIdName</span>
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="d-flex align-items-center">
                                            <span style="font-size:25px;">Bellek Özellikleri</span>
                                            <div class="flex-grow-1 ms-2" style="border-bottom: 1px solid #329d00;"></div>
                                        </div>
                                        <br />
                                        <div class="row" style="font-weight:bold;">
                                            <div class="col-md-2">
                                                <span style="font-size:16px;">
                                                    Bellek
                                                </span>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col">
                                                <span>@Model.GetLaptop.BellekIdName</span>
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="d-flex align-items-center">
                                            <span style="font-size:25px;">Depolama Özellikleri</span>
                                            <div class="flex-grow-1 ms-2" style="border-bottom: 1px solid #329d00;"></div>
                                        </div>
                                        <br />
                                        <div class="row" style="font-weight:bold;">
                                            <div class="col-md-2">
                                                <span style="font-size:16px;">
                                                    1.Port M2 SSD
                                                </span>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col">
                                                <span>@Model.GetLaptop.DepolamaIdName</span>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row" style="font-weight:bold;">
                                            <div class="col-md-2">
                                                <span style="font-size:16px;">
                                                    2.Port M.2 SSD
                                                </span>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col">
                                                <span>Takılı Değil</span>
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="d-flex align-items-center">
                                            <span style="font-size:25px;">Donanım Özellikleri</span>
                                            <div class="flex-grow-1 ms-2" style="border-bottom: 1px solid #329d00;"></div>
                                        </div>
                                        <br />
                                        <div class="row" style="font-weight:bold;">
                                            <div class="col-md-2">
                                                <span style="font-size:16px;">
                                                    Klavye
                                                </span>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col">
                                                <span>@Model.GetLaptop.Klavye</span>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row" style="font-weight:bold;">
                                            <div class="col-md-2">
                                                <span style="font-size:16px;">
                                                    Hoparlör
                                                </span>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col">
                                                <span>2x 2W Hoparlör</span>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row" style="font-weight:bold;">
                                            <div class="col-md-2">
                                                <span style="font-size:16px;">
                                                    Gigabit Ethernet
                                                </span>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col">
                                                <span>Var</span>
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="d-flex align-items-center">
                                            <span style="font-size:25px;">Boyutlar ve Ağırlık</span>
                                            <div class="flex-grow-1 ms-2" style="border-bottom: 1px solid #329d00;"></div>
                                        </div>
                                        <br />
                                        <div class="row" style="font-weight:bold;">
                                            <div class="col-md-2">
                                                <span style="font-size:16px;">
                                                    Boyutlar
                                                </span>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col">
                                                <span>@Model.GetLaptop.Boyut</span>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row" style="font-weight:bold;">
                                            <div class="col-md-2">
                                                <span style="font-size:16px;">
                                                    Ağırlık
                                                </span>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col">
                                                <span>@Model.GetLaptop.Agirlik</span>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row" style="font-weight:bold;">
                                            <div class="col-md-2">
                                                <span style="font-size:16px;">
                                                    Batarya
                                                </span>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col">
                                                <span>@Model.GetLaptop.Batarya</span>
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="d-flex align-items-center">
                                            <span style="font-size:25px;">Diğer Özellikler</span>
                                            <div class="flex-grow-1 ms-2" style="border-bottom: 1px solid #329d00;"></div>
                                        </div>
                                        <br />
                                        <div class="row" style="font-weight:bold;">
                                            <div class="col-md-2">
                                                <span style="font-size:16px;">
                                                    Garanti Süresi
                                                </span>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col">
                                                <span>2 YIL</span>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row" style="font-weight:bold;">
                                            <div class="col-md-2">
                                                <span style="font-size:16px;">
                                                    Ürün Kodu
                                                </span>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col">
                                                <span>LT - @Model.GetLaptop.Id</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /tab1  -->
                            <!-- tab2  -->
                            <div id="tab2" class="tab-pane fade in">
                                <div class="row">
                                    <!-- Rating -->
                                    <div class="col-md-3">
                                        <div id="rating">
                                            <div class="rating-avg">
                                                <span>4.5</span>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                            </div>
                                            <ul class="rating">
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div style="width: 80%;"></div>
                                                    </div>
                                                    <span class="sum">3</span>
                                                </li>
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div style="width: 60%;"></div>
                                                    </div>
                                                    <span class="sum">2</span>
                                                </li>
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div></div>
                                                    </div>
                                                    <span class="sum">0</span>
                                                </li>
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div></div>
                                                    </div>
                                                    <span class="sum">0</span>
                                                </li>
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div></div>
                                                    </div>
                                                    <span class="sum">0</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /Rating -->
                                    <!-- Reviews -->
                                    <div class="col-md-6">
                                        <div id="reviews">
                                            <ul class="reviews">
                                                <li>
                                                    <div class="review-heading">
                                                        <h5 class="name">John</h5>
                                                        <p class="date">27 DEC 2018, 8:0 PM</p>
                                                        <div class="review-rating">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o empty"></i>
                                                        </div>
                                                    </div>
                                                    <div class="review-body">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="review-heading">
                                                        <h5 class="name">John</h5>
                                                        <p class="date">27 DEC 2018, 8:0 PM</p>
                                                        <div class="review-rating">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o empty"></i>
                                                        </div>
                                                    </div>
                                                    <div class="review-body">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="review-heading">
                                                        <h5 class="name">John</h5>
                                                        <p class="date">27 DEC 2018, 8:0 PM</p>
                                                        <div class="review-rating">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o empty"></i>
                                                        </div>
                                                    </div>
                                                    <div class="review-body">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                                    </div>
                                                </li>
                                            </ul>
                                            <ul class="reviews-pagination">
                                                <li class="active">1</li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /Reviews -->
                                    <!-- Review Form -->
                                    <div class="col-md-3">
                                        <div id="review-form">
                                            <form class="review-form">
                                                <input class="input" type="text" placeholder="Your Name">
                                                <input class="input" type="email" placeholder="Your Email">
                                                <textarea class="input" placeholder="Your Review"></textarea>
                                                <div class="input-rating">
                                                    <span>Your Rating: </span>
                                                    <div class="stars">
                                                        <input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
                                                        <input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
                                                        <input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
                                                        <input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
                                                        <input id="star1" name="rating" value="1" type="radio"><label for="star1"></label>
                                                    </div>
                                                </div>
                                                <button class="primary-btn">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- /Review Form -->
                                </div>
                            </div>
                            <!-- /tab2  -->
                        </div>
                        <!-- /product tab content  -->
                    </div>
                </div>
                <!-- /product tab -->
            }

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- Section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3 class="title">İLGİLİ ÜRÜNLER</h3>
                </div>
            </div>
            <div class="col-md-12">
                <div class="products-slick" data-nav="#slick-nav-1">
                    <!-- product -->
                    @if (Model.LaptopList != null && Model.LaptopList.Count > 0)
                    {
                        foreach (var item in Model.LaptopList)
                        {
                            <div class="product">
                                <a href="/Home/LaptopDetay?pLaptopId=@item.Id">
                                    <div class="product-img">
                                        <img src="https://localhost:7044/images/@item.ResimUrl" alt="" height="180">
                                        <div class="product-label">
                                            <span class="sale">-5%</span>
                                            <span class="new">NEW</span>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <h3 class="product-name"><span style="color:#696cff">@item.LaptopAdi</span></h3>
                                        <h4 class="product-price">@Formatting.FormatTurkLirasi(item.Fiyat.Value) <del class="product-old-price">@Formatting.FormatIndirimsizFiyat(item.Fiyat.Value, 5)</del></h4>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="product-btns">
                                            <button class="add-to-wishlist"><i class="fa fa-heart-o" style="color:#329d00e6"></i><span class="tooltipp">FAVORİLERE EKLE</span></button>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> SEPETE EKLE</button>
                                    </div>
                                </a>
                            </div>
                        }
                    }

                    @if (Model.MonitorList != null && Model.MonitorList.Count > 0)
                    {
                        foreach (var item in Model.MonitorList)
                        {
                            <div class="product">
                                <a href="#">
                                    <div class="product-img">
                                        <img src="https://localhost:7044/images/@item.ResimUrl" alt="" height="180">
                                        <div class="product-label">
                                            <span class="sale">-5%</span>
                                            <span class="new">NEW</span>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <h3 class="product-name"><span style="color:#696cff">@item.MonitorAdi</span></h3>
                                        <h4 class="product-price">@Formatting.FormatTurkLirasi(item.Fiyat.Value) <del class="product-old-price">@Formatting.FormatIndirimsizFiyat(item.Fiyat.Value, 5)</del></h4>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="product-btns">
                                            <button class="add-to-wishlist"><i class="fa fa-heart-o" style="color:#329d00e6"></i><span class="tooltipp">FAVORİLERE EKLE</span></button>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> SEPETE EKLE</button>
                                    </div>
                                </a>
                            </div>

                        }
                    }

                    @if (Model.MouseList != null && Model.MouseList.Count > 0)
                    {
                        foreach (var item in Model.MouseList)
                        {
                            <div class="product">
                                <a href="#">
                                    <div class="product-img">
                                        <img src="https://localhost:7044/images/@item.ResimUrl" alt="" height="180">
                                        <div class="product-label">
                                            <span class="sale">-5%</span>
                                            <span class="new">NEW</span>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <h3 class="product-name"><span style="color:#696cff">@item.MouseAdi</span></h3>
                                        <h4 class="product-price">@Formatting.FormatTurkLirasi(item.Fiyat.Value) <del class="product-old-price">@Formatting.FormatIndirimsizFiyat(item.Fiyat.Value, 5)</del></h4>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="product-btns">
                                            <button class="add-to-wishlist"><i class="fa fa-heart-o" style="color:#329d00e6"></i><span class="tooltipp">FAVORİLERE EKLE</span></button>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> SEPETE EKLE</button>
                                    </div>
                                </a>
                            </div>

                        }
                    }
                    <!-- /product -->
                </div>
                <div id="slick-nav-1" class="products-slick-nav"></div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<br />
<br />
<!-- /Section -->