@model HomeDataModel

@{
    List<KategoriDataModel> kategoriList = ViewData["KategoriList"] as List<KategoriDataModel>;
    List<KategoriDataModel> mainKategoriList = kategoriList.Where(i => i.MainKategoriId == null).ToList();

    List<UrunYorumDataModel> yorumList = ViewData["YorumList"] as List<UrunYorumDataModel>;

    double? ortalama = null;

    @if (Model.UrunYorumList != null && Model.UrunYorumList.Count > 0)
    {
        ortalama = Model.UrunYorumList.Average(i => i.YorumPuan);
    }
}

<style>
    .product-name {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        min-height: 60px; /* Ad alanı sabit yükseklikte olur */
        overflow: hidden; /* Uzun adların taşmasını engeller */
    }
</style>

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    @if (Model.UrunResmiList != null && Model.UrunResmiList.Count > 0)
                    {
                        foreach (var item in Model.UrunResmiList)
                        {
                            <div class="product-preview">
                                <img src="https://localhost:7044/images/@item.ResimUrl" alt="">
                            </div>
                        }
                    }
                </div>
            </div>
            <!-- /Product main img -->
            <!-- Product thumb imgs -->
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    @if (Model.UrunResmiList != null && Model.UrunResmiList.Count > 0)
                    {
                        foreach (var item in Model.UrunResmiList)
                        {
                            <div class="product-preview">
                                <img src="https://localhost:7044/images/@item.ResimUrl" alt="">
                            </div>
                        }
                    }
                </div>
            </div>
            <!-- /Product thumb imgs -->
            @if (Model.GetMonitor != null)
            {
                <!-- Product details -->
                <div class="col-md-5">
                    <div class="product-details">
                        <h2 class="product-name" style="text-transform:none;font-size:25px;">@Model.GetMonitor.MonitorAdi</h2>
                        <div>
                            @if (ortalama < 1.5)
                            {
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            }
                            else if (ortalama >= 1.5 && ortalama < 2.5)
                            {
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            }
                            else if (ortalama >= 2.5 && ortalama < 3.5)
                            {
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            }
                            else if (ortalama >= 3.5 && ortalama < 4.5)
                            {
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            }
                            else if (ortalama >= 4.5)
                            {
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            }
                            else
                            {
                                <div class="product-rating">
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            }

                            @if (Model.UrunYorumList != null && Model.UrunYorumList.Count > 0)
                            {
                                <a class="review-link" href="#tab2link"><i class="bi bi-chat-left-text-fill" style="position: relative; top: 2px;"></i> @Model.UrunYorumList.Count Değerlendirme</a>
                            }
                            else
                            {
                                <a class="review-link" href="#tab2link"><i class="bi bi-chat-left-text-fill" style="position: relative; top: 2px;"></i> 0 Değerlendirme</a>
                            }

                        </div>
                        <div>
                            <h3 class="product-price">@Formatting.FormatTurkLirasi(@Model.GetMonitor.Fiyat.Value) <del class="product-old-price">@Formatting.FormatIndirimsizFiyat(@Model.GetMonitor.Fiyat.Value, 5)</del></h3>
                            <span class="product-available">Stokta Var</span>
                        </div>
                        <ul style="margin-top:5px;color:black;font-weight:bold">
                            <li>> @Model.GetMonitor.EkranYapisi</li>
                            <li>> @Model.GetMonitor.YenilemeHiziIdName</li>
                            <li>> 1 Ms Tepki Süresi</li>
                            <li>> @Model.GetMonitor.CozunurlukIdName</li>
                            <li>> @Model.GetMonitor.Hdr</li>
                        </ul>
                        <br />
                        <a href="#teknikozellikler" style="font-size:15px;margin:10px;"><i class="bi bi-caret-down-fill"></i> Tüm Teknik Özellikler</a>
                        <br />
                        <br />
                        <div class="add-to-cart">
                            <div class="qty-label">
                                Adet
                                <div class="input-number" style="margin-left:5px;">
                                    <input type="number" value="1">
                                    <span class="qty-up">+</span>
                                    <span class="qty-down">-</span>
                                </div>
                            </div>

                            @{
                                var secilenurun = Model.UrunTakipList?.FirstOrDefault(i => i.MonitorId == Model.GetMonitor.Id && i.CreatedBy == Convert.ToInt32(ViewData["KullaniciId"]));
                            }

                            @if (ViewData["KullaniciId"] != null)
                            {
                                if (secilenurun != null)
                                {
                                    if (secilenurun.SepetDurum == true)
                                    {
                                        <button class="add-to-cart-btn" onclick="GetSepetMonitorDurum(@Model.GetMonitor.Id)">
                                            <i class="fa fa-shopping-cart"></i> SEPETTEN ÇIKAR
                                        </button>
                                    }
                                    else
                                    {
                                        <button class="add-to-cart-btn" onclick="GetSepetMonitorDurum(@Model.GetMonitor.Id)">
                                            <i class="fa fa-shopping-cart"></i> SEPETE EKLE
                                        </button>
                                    }
                                }
                                else
                                {
                                    <button class="add-to-cart-btn" onclick="GetSepetMonitorDurum(@Model.GetMonitor.Id)">
                                        <i class="fa fa-shopping-cart"></i> SEPETE EKLE
                                    </button>
                                }
                            }
                            else
                            {
                                <button class="add-to-cart-btn" onclick="window.location.href='/Authentication/LoginEkrani?p=hata'">
                                    <i class="fa fa-shopping-cart"></i> SEPETE EKLE
                                </button>
                            }
                        </div>

                        @if (ViewData["KullaniciId"] != null)
                        {
                            if (secilenurun != null)
                            {
                                if (secilenurun.Favori == true)
                                {
                                    <ul class="product-btns">
                                        <li><a href="#" onclick="FavoriMonitorDurum(@Model.GetMonitor.Id)" style="color:red;"><i class="bi bi-heart-fill"></i> FAVORİLERDEN ÇIKAR</a></li>
                                    </ul>
                                }
                                else
                                {
                                    <ul class="product-btns">
                                        <li><a href="#" onclick="FavoriMonitorDurum(@Model.GetMonitor.Id)"><i class="bi bi-heart-fill"></i> FAVORİLERE EKLE</a></li>
                                    </ul>
                                }
                            }
                            else
                            {
                                <ul class="product-btns">
                                    <li><a href="#" onclick="FavoriMonitorDurum(@Model.GetMonitor.Id)"><i class="bi bi-heart-fill"></i> FAVORİLERE EKLE</a></li>
                                </ul>
                            }
                        }
                        else
                        {
                            <ul class="product-btns">
                                <li><a href="/Authentication/LoginEkrani?p=hata"><i class="bi bi-heart-fill"></i> FAVORİLERE EKLE</a></li>
                            </ul>
                        }

                        @foreach (var item in mainKategoriList)
                        {
                            if (item.Id == 2)
                            {
                                <ul class="product-links">
                                    <li>KATEGORİ:</li>
                                    <li><a href="/Home/UrunlerListSayfasi?pId=@item.Id" style="text-transform:none;font-size:15px">@item.KategoriAdi</a></li>
                                </ul>
                            }
                        }

                    </div>
                </div>
                <!-- /Product details -->
                <!-- Product tab -->
                <div class="col-md-12">
                    <div id="product-tab">
                        <!-- product tab nav -->
                        <ul class="tab-nav" id="tab2link">
                            <li class="active"><a data-toggle="tab" href="#tab1">Detaylar</a></li>
                            @if (Model.UrunYorumList != null && Model.UrunYorumList.Count > 0)
                            {
                                <li><a data-toggle="tab" href="#tab2">Değerlendirmeler (@Model.UrunYorumList.Count)</a></li>
                            }
                            else
                            {
                                <li><a data-toggle="tab" href="#tab2">Değerlendirmeler (0)</a></li>
                            }
                        </ul>
                        <!-- /product tab nav -->
                        <!-- product tab content -->
                        <div class="tab-content">
                            <!-- tab1  -->
                            <div id="tab1" class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2 class="text-center">Tarzını Belli Et</h2>
                                        <br />
                                        <h4 class="text-center">
                                            Masana biraz daha renk katmak istersen
                                            dinamik değişen RGB
                                            aydınlatmasıyla galibiyetlerine tarz kat.
                                        </h4>
                                        <br />
                                        <h2 class="text-center">
                                            Hoparlörün Hazır
                                        </h2>
                                        <br />
                                        <h4 class="text-center">
                                            Aryond içinde barındırdığı iki adet 2 Wattlık hoparlörü ile ekstra bir ses kaynağına ihtiyaç duymadan ses üretebilir,
                                            film izlerken ya da oyun oynarken eğlenceye ara vermezsin.
                                        </h4>
                                        <br />
                                        <br />
                                        <br id="teknikozellikler" />
                                        <h1 style="color:#329d00">Teknik Özellikler</h1>
                                        <br />
                                        <div class="d-flex align-items-center">
                                            <span style="font-size:25px;">Monitör Özellikleri</span>
                                            <div class="flex-grow-1 ms-2" style="border-bottom: 1px solid #329d00;"></div>
                                        </div>
                                        <br />
                                        <div class="row" style="font-weight:bold">
                                            <div class="col-md-2">
                                                <span style="font-size:16px;">
                                                    Ekran Yapısı
                                                </span>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col">
                                                <span>@Model.GetMonitor.EkranYapisi</span>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row" style="font-weight:bold">
                                            <div class="col-md-2">
                                                <span style="font-size:16px;">
                                                    Çözünürlük
                                                </span>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col">
                                                <span>@Model.GetMonitor.CozunurlukIdName</span>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row" style="font-weight:bold">
                                            <div class="col-md-2">
                                                <span style="font-size:16px;">
                                                    Yenileme Hızı
                                                </span>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col">
                                                <span>@Model.GetMonitor.YenilemeHiziIdName</span>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row" style="font-weight:bold">
                                            <div class="col-md-2">
                                                <span style="font-size:16px;">
                                                    Parlaklık
                                                </span>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col">
                                                <span>300 cd/m²</span>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row" style="font-weight:bold">
                                            <div class="col-md-2">
                                                <span style="font-size:16px;">
                                                    Renk Sayısı
                                                </span>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col">
                                                <span>16.7M</span>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row" style="font-weight:bold">
                                            <div class="col-md-2">
                                                <span style="font-size:16px;">
                                                    HDR
                                                </span>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col">
                                                <span>@Model.GetMonitor.Hdr</span>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row" style="font-weight:bold">
                                            <div class="col-md-2">
                                                <span style="font-size:16px;">
                                                    Boyut
                                                </span>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col">
                                                <span>@Model.GetMonitor.Boyut</span>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row" style="font-weight:bold">
                                            <div class="col-md-2">
                                                <span style="font-size:16px;">
                                                    Ağırlık
                                                </span>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col">
                                                <span>@Model.GetMonitor.Agirlik</span>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row" style="font-weight:bold">
                                            <div class="col-md-2">
                                                <span style="font-size:16px;">
                                                    Garanti Süresi
                                                </span>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col">
                                                <span>2 YIL</span>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row" style="font-weight:bold">
                                            <div class="col-md-2">
                                                <span style="font-size:16px;">
                                                    Ürün Kodu
                                                </span>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col">
                                                <span>MT - @Model.GetMonitor.Id</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /tab1  -->
                            <!-- tab2  -->
                            <div id="tab2" class="tab-pane fade in">
                                <div class="row">
                                    <!-- Rating -->
                                    @if (Model.UrunYorumList != null && Model.UrunYorumList.Count > 0 && ViewData["KullaniciId"] == null)
                                    {
                                        <div class="col-md-12">
                                            <div id="rating" class="text-center">
                                                <div class="rating-avg">
                                                    <span>@ortalama?.ToString("F1")</span>
                                                    @if (ortalama < 1.5)
                                                    {
                                                        <div class="rating-stars">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>
                                                    }
                                                    else if (ortalama >= 1.5 && ortalama < 2.5)
                                                    {
                                                        <div class="rating-stars">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>
                                                    }
                                                    else if (ortalama >= 2.5 && ortalama < 3.5)
                                                    {
                                                        <div class="rating-stars">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>
                                                    }
                                                    else if (ortalama >= 3.5 && ortalama < 4.5)
                                                    {
                                                        <div class="rating-stars">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>
                                                    }
                                                    else if (ortalama >= 4.5)
                                                    {
                                                        <div class="rating-stars">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            <!-- /Rating -->
                                            <!-- Reviews -->
                                            <div id="reviews">
                                                <ul class="reviews">
                                                    @foreach (var item in Model.UrunYorumList)
                                                    {
                                                        <li>
                                                            <div class="review-heading">
                                                                <h5 class="name">@item.CreatedByName</h5>
                                                                <p class="date">@item.CreatedAt</p>
                                                                @if (item.YorumPuan == 1)
                                                                {
                                                                    <div class="review-rating">
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star-o empty"></i>
                                                                        <i class="fa fa-star-o empty"></i>
                                                                        <i class="fa fa-star-o empty"></i>
                                                                        <i class="fa fa-star-o empty"></i>
                                                                    </div>
                                                                }
                                                                else if (item.YorumPuan == 2)
                                                                {
                                                                    <div class="review-rating">
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star-o empty"></i>
                                                                        <i class="fa fa-star-o empty"></i>
                                                                        <i class="fa fa-star-o empty"></i>
                                                                    </div>
                                                                }
                                                                else if (item.YorumPuan == 3)
                                                                {
                                                                    <div class="review-rating">
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star-o empty"></i>
                                                                        <i class="fa fa-star-o empty"></i>
                                                                    </div>
                                                                }
                                                                else if (item.YorumPuan == 4)
                                                                {
                                                                    <div class="review-rating">
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star-o empty"></i>
                                                                    </div>
                                                                }
                                                                else if (item.YorumPuan == 5)
                                                                {
                                                                    <div class="review-rating">
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                    </div>
                                                                }
                                                            </div>
                                                            <div class="review-body">
                                                                <p>@item.Yorum</p>
                                                            </div>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                            <!-- /Reviews -->
                                        </div>
                                    }
                                    else if (Model.UrunYorumList != null && Model.UrunYorumList.Count > 0 && ViewData["KullaniciId"] != null)
                                    {
                                        <div class="col-md-9">
                                            <div id="rating" class="text-center">
                                                <div class="rating-avg">
                                                    <span>@ortalama?.ToString("F1")</span>
                                                    @if (ortalama < 1.5)
                                                    {
                                                        <div class="rating-stars">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>
                                                    }
                                                    else if (ortalama >= 1.5 && ortalama < 2.5)
                                                    {
                                                        <div class="rating-stars">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>
                                                    }
                                                    else if (ortalama >= 2.5 && ortalama < 3.5)
                                                    {
                                                        <div class="rating-stars">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>
                                                    }
                                                    else if (ortalama >= 3.5 && ortalama < 4.5)
                                                    {
                                                        <div class="rating-stars">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>
                                                    }
                                                    else if (ortalama >= 4.5)
                                                    {
                                                        <div class="rating-stars">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            <!-- /Rating -->
                                            <!-- Reviews -->
                                            <div id="reviews">
                                                <ul class="reviews">
                                                    @foreach (var item in Model.UrunYorumList)
                                                    {
                                                        <li>
                                                            <div class="review-heading">
                                                                <h5 class="name">@item.CreatedByName</h5>
                                                                <p class="date">@item.CreatedAt</p>
                                                                @if (item.YorumPuan == 1)
                                                                {
                                                                    <div class="review-rating">
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star-o empty"></i>
                                                                        <i class="fa fa-star-o empty"></i>
                                                                        <i class="fa fa-star-o empty"></i>
                                                                        <i class="fa fa-star-o empty"></i>
                                                                    </div>
                                                                }
                                                                else if (item.YorumPuan == 2)
                                                                {
                                                                    <div class="review-rating">
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star-o empty"></i>
                                                                        <i class="fa fa-star-o empty"></i>
                                                                        <i class="fa fa-star-o empty"></i>
                                                                    </div>
                                                                }
                                                                else if (item.YorumPuan == 3)
                                                                {
                                                                    <div class="review-rating">
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star-o empty"></i>
                                                                        <i class="fa fa-star-o empty"></i>
                                                                    </div>
                                                                }
                                                                else if (item.YorumPuan == 4)
                                                                {
                                                                    <div class="review-rating">
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star-o empty"></i>
                                                                    </div>
                                                                }
                                                                else if (item.YorumPuan == 5)
                                                                {
                                                                    <div class="review-rating">
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                    </div>
                                                                }

                                                                @if (item.CreatedBy == Convert.ToInt32(ViewData["KullaniciId"]))
                                                                {
                                                                    <a href="#" data-toggle="modal" data-target="#exampleModal" onclick="deleteModal(@item.Id)"><i class="bi bi-trash2-fill"></i> Sil</a>
                                                                }
                                                            </div>
                                                            <div class="review-body">
                                                                <p>@item.Yorum</p>
                                                            </div>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                            <!-- /Reviews -->
                                        </div>
                                        <!-- Review Form -->
                                        <div class="col-md-3">
                                            <div id="review-form">
                                                <form class="review-form" asp-action="UrunYorum" asp-controller="Home" method="post">
                                                    <input type="hidden" name="MonitorId" value="@Model.GetMonitor.Id" />
                                                    <label for="frmYorum" class="form-label fw-bold">YORUM YAP</label>
                                                    <textarea class="input" name="Yorum" id="frmYorum" placeholder="Yorumunu Yaz"></textarea>
                                                    <div class="input-rating">
                                                        <span>Derecelendirme: </span>
                                                        <div class="stars">
                                                            <input id="star5" name="YorumPuan" value="5" type="radio"><label for="star5"></label>
                                                            <input id="star4" name="YorumPuan" value="4" type="radio"><label for="star4"></label>
                                                            <input id="star3" name="YorumPuan" value="3" type="radio"><label for="star3"></label>
                                                            <input id="star2" name="YorumPuan" value="2" type="radio"><label for="star2"></label>
                                                            <input id="star1" name="YorumPuan" value="1" type="radio"><label for="star1"></label>
                                                        </div>
                                                    </div>
                                                    <button class="primary-btn">Kaydet</button>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- /Review Form -->
                                    }
                                    else if (ViewData["KullaniciId"] != null)
                                    {
                                        <div class="col-md-9 text-center">
                                            <br />
                                            <br />
                                            <h3>Bu Ürüne Henüz Değerlendirme Yapılmamış İlk Yapan Sen Ol!!</h3>
                                        </div>
                                        <!-- Review Form -->
                                        <div class="col-md-3">
                                            <div id="review-form">
                                                <form class="review-form" asp-action="UrunYorum" asp-controller="Home" method="post">
                                                    <input type="hidden" name="MonitorId" value="@Model.GetMonitor.Id" />
                                                    <label for="frmYorum" class="form-label fw-bold">YORUM YAP</label>
                                                    <textarea class="input" name="Yorum" id="frmYorum" placeholder="Yorumunu Yaz"></textarea>
                                                    <div class="input-rating">
                                                        <span>Derecelendirme: </span>
                                                        <div class="stars">
                                                            <input id="star5" name="YorumPuan" value="5" type="radio"><label for="star5"></label>
                                                            <input id="star4" name="YorumPuan" value="4" type="radio"><label for="star4"></label>
                                                            <input id="star3" name="YorumPuan" value="3" type="radio"><label for="star3"></label>
                                                            <input id="star2" name="YorumPuan" value="2" type="radio"><label for="star2"></label>
                                                            <input id="star1" name="YorumPuan" value="1" type="radio"><label for="star1"></label>
                                                        </div>
                                                    </div>
                                                    <button class="primary-btn">Kaydet</button>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- /Review Form -->
                                    }
                                    else
                                    {
                                        <div class="col-md-12 text-center">
                                            <br />
                                            <br />
                                            <h2>Bu Ürüne Henüz Değerlendirme Yapılmamış İlk Yapan Sen Ol!!</h2>
                                            <br />
                                            <a href="/Kullanici/KullaniciSayfasi" style="font-weight:bold"><i class="bi bi-hand-index"></i> Kayıt Ol</a>
                                            <br />
                                            <br />
                                            <a href="/Authentication/LoginEkrani" style="font-weight:bold"><i class="bi bi-hand-index"></i> Giriş Yap</a>
                                        </div>
                                    }
                                </div>
                            </div>
                            <!-- /tab2  -->
                        </div>
                        <!-- /product tab content  -->
                    </div>
                </div>
                <!-- /product tab -->
            }

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- Section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3 class="title">İLGİLİ ÜRÜNLER</h3>
                </div>
            </div>
            <div class="col-md-12">
                <div class="products-slick" data-nav="#slick-nav-1">
                    <!-- product -->
                    @if (Model.LaptopList != null && Model.LaptopList.Count > 0)
                    {
                        foreach (var item in Model.LaptopList)
                        {
                            var urun = Model.UrunTakipList?.FirstOrDefault(i => i.LaptopId == item.Id && i.CreatedBy == Convert.ToInt32(ViewData["KullaniciId"]));

                            <div class="product">
                                <a href="/Home/LaptopDetay?pLaptopId=@item.Id">
                                    <div class="product-img">
                                        <img src="https://localhost:7044/images/@item.ResimUrl" alt="" height="180">
                                        <div class="product-label">
                                            <span class="sale">-5%</span>
                                            <span class="new">NEW</span>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <h3 class="product-name"><span style="color:#696cff">@item.LaptopAdi</span></h3>
                                        <h4 class="product-price">@Formatting.FormatTurkLirasi(item.Fiyat.Value) <del class="product-old-price">@Formatting.FormatIndirimsizFiyat(item.Fiyat.Value, 5)</del></h4>

                                        @{
                                            var yorumpuan = yorumList.Where(i => i.LaptopId == item.Id).Average(i => i.YorumPuan);
                                        }

                                        @if (yorumpuan < 1.5)
                                        {
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        }
                                        else if (yorumpuan >= 1.5 && yorumpuan < 2.5)
                                        {
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        }
                                        else if (yorumpuan >= 2.5 && yorumpuan < 3.5)
                                        {
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        }
                                        else if (yorumpuan >= 3.5 && yorumpuan < 4.5)
                                        {
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        }
                                        else if (yorumpuan >= 4.5)
                                        {
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="product-rating">
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        }

                                        <div class="product-btns">
                                            @if (ViewData["KullaniciId"] != null)
                                            {
                                                if (urun != null)
                                                {
                                                    if (urun.Favori == true)
                                                    {
                                                        <button class="add-to-wishlist" onclick="FavoriLaptopDurum(@item.Id)">
                                                            <i class="bi bi-heart-fill" style="color:red;"></i><span class="tooltipp">FAVORİLERDEN ÇIKAR</span>
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <button class="add-to-wishlist" onclick="FavoriLaptopDurum(@item.Id)">
                                                            <i class="bi bi-heart-fill" style="color:#329d00e6;"></i><span class="tooltipp">FAVORİLERE EKLE</span>
                                                        </button>
                                                    }
                                                }
                                                else
                                                {
                                                    <button class="add-to-wishlist" onclick="FavoriLaptopDurum(@item.Id)">
                                                        <i class="bi bi-heart-fill" style="color:#329d00e6;"></i><span class="tooltipp">FAVORİLERE EKLE</span>
                                                    </button>
                                                }
                                            }
                                            else
                                            {
                                                <button class="add-to-wishlist" onclick="window.location.href='/Authentication/LoginEkrani?p=hata'">
                                                    <i class="bi bi-heart-fill" style="color:#329d00e6;"></i><span class="tooltipp">FAVORİLERE EKLE</span>
                                                </button>
                                            }
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        @if (ViewData["KullaniciId"] != null)
                                        {
                                            if (urun != null)
                                            {
                                                if (urun.SepetDurum == true)
                                                {
                                                    <button class="add-to-cart-btn" onclick="SepetLaptopDurum(@item.Id)">
                                                        <i class="fa fa-shopping-cart"></i> SEPETTEN ÇIKAR
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button class="add-to-cart-btn" onclick="SepetLaptopDurum(@item.Id)">
                                                        <i class="fa fa-shopping-cart"></i> SEPETE EKLE
                                                    </button>
                                                }
                                            }
                                            else
                                            {
                                                <button class="add-to-cart-btn" onclick="SepetLaptopDurum(@item.Id)">
                                                    <i class="fa fa-shopping-cart"></i> SEPETE EKLE
                                                </button>
                                            }
                                        }
                                        else
                                        {
                                            <button class="add-to-cart-btn" onclick="window.location.href='/Authentication/LoginEkrani?p=hata'">
                                                <i class="fa fa-shopping-cart"></i> SEPETE EKLE
                                            </button>
                                        }
                                    </div>
                                </a>
                            </div>
                        }
                    }

                    @if (Model.MonitorList != null && Model.MonitorList.Count > 0)
                    {
                        foreach (var item in Model.MonitorList)
                        {
                            var urun = Model.UrunTakipList?.FirstOrDefault(i => i.MonitorId == item.Id && i.CreatedBy == Convert.ToInt32(ViewData["KullaniciId"]));

                            <div class="product">
                                <a href="/Home/MonitorDetay?pMonitorId=@item.Id">
                                    <div class="product-img">
                                        <img src="https://localhost:7044/images/@item.ResimUrl" alt="" height="180">
                                        <div class="product-label">
                                            <span class="sale">-5%</span>
                                            <span class="new">NEW</span>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <h3 class="product-name"><span style="color:#696cff">@item.MonitorAdi</span></h3>
                                        <h4 class="product-price">@Formatting.FormatTurkLirasi(item.Fiyat.Value) <del class="product-old-price">@Formatting.FormatIndirimsizFiyat(item.Fiyat.Value, 5)</del></h4>

                                        @{
                                            var yorumpuan = yorumList.Where(i => i.MonitorId == item.Id).Average(i => i.YorumPuan);
                                        }

                                        @if (yorumpuan < 1.5)
                                        {
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        }
                                        else if (yorumpuan >= 1.5 && yorumpuan < 2.5)
                                        {
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        }
                                        else if (yorumpuan >= 2.5 && yorumpuan < 3.5)
                                        {
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        }
                                        else if (yorumpuan >= 3.5 && yorumpuan < 4.5)
                                        {
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        }
                                        else if (yorumpuan >= 4.5)
                                        {
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="product-rating">
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        }

                                        <div class="product-btns">
                                            @if (ViewData["KullaniciId"] != null)
                                            {
                                                if (urun != null)
                                                {
                                                    if (urun.Favori == true)
                                                    {
                                                        <button class="add-to-wishlist" onclick="FavoriMonitorDurum(@item.Id)">
                                                            <i class="bi bi-heart-fill" style="color:red;"></i><span class="tooltipp">FAVORİLERDEN ÇIKAR</span>
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <button class="add-to-wishlist" onclick="FavoriMonitorDurum(@item.Id)">
                                                            <i class="bi bi-heart-fill" style="color:#329d00e6;"></i><span class="tooltipp">FAVORİLERE EKLE</span>
                                                        </button>
                                                    }
                                                }
                                                else
                                                {
                                                    <button class="add-to-wishlist" onclick="FavoriMonitorDurum(@item.Id)">
                                                        <i class="bi bi-heart-fill" style="color:#329d00e6;"></i><span class="tooltipp">FAVORİLERE EKLE</span>
                                                    </button>
                                                }
                                            }
                                            else
                                            {
                                                <button class="add-to-wishlist" onclick="window.location.href='/Authentication/LoginEkrani?p=hata'">
                                                    <i class="bi bi-heart-fill" style="color:#329d00e6;"></i><span class="tooltipp">FAVORİLERE EKLE</span>
                                                </button>
                                            }
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        @if (ViewData["KullaniciId"] != null)
                                        {
                                            if (urun != null)
                                            {
                                                if (urun.SepetDurum == true)
                                                {
                                                    <button class="add-to-cart-btn" onclick="SepetMonitorDurum(@item.Id)">
                                                        <i class="fa fa-shopping-cart"></i> SEPETTEN ÇIKAR
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button class="add-to-cart-btn" onclick="SepetMonitorDurum(@item.Id)">
                                                        <i class="fa fa-shopping-cart"></i> SEPETE EKLE
                                                    </button>
                                                }
                                            }
                                            else
                                            {
                                                <button class="add-to-cart-btn" onclick="SepetMonitorDurum(@item.Id)">
                                                    <i class="fa fa-shopping-cart"></i> SEPETE EKLE
                                                </button>
                                            }
                                        }
                                        else
                                        {
                                            <button class="add-to-cart-btn" onclick="window.location.href='/Authentication/LoginEkrani?p=hata'">
                                                <i class="fa fa-shopping-cart"></i> SEPETE EKLE
                                            </button>
                                        }
                                    </div>
                                </a>
                            </div>

                        }
                    }

                    @if (Model.MouseList != null && Model.MouseList.Count > 0)
                    {
                        foreach (var item in Model.MouseList)
                        {
                            var urun = Model.UrunTakipList?.FirstOrDefault(i => i.MouseId == item.Id && i.CreatedBy == Convert.ToInt32(ViewData["KullaniciId"]));

                            <div class="product">
                                <a href="/Home/MouseDetay?pMouseId=@item.Id">
                                    <div class="product-img">
                                        <img src="https://localhost:7044/images/@item.ResimUrl" alt="" height="180">
                                        <div class="product-label">
                                            <span class="sale">-5%</span>
                                            <span class="new">NEW</span>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <h3 class="product-name"><span style="color:#696cff">@item.MouseAdi</span></h3>
                                        <h4 class="product-price">@Formatting.FormatTurkLirasi(item.Fiyat.Value) <del class="product-old-price">@Formatting.FormatIndirimsizFiyat(item.Fiyat.Value, 5)</del></h4>

                                        @{
                                            var yorumpuan = yorumList.Where(i => i.MouseId == item.Id).Average(i => i.YorumPuan);
                                        }

                                        @if (yorumpuan < 1.5)
                                        {
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        }
                                        else if (yorumpuan >= 1.5 && yorumpuan < 2.5)
                                        {
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        }
                                        else if (yorumpuan >= 2.5 && yorumpuan < 3.5)
                                        {
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        }
                                        else if (yorumpuan >= 3.5 && yorumpuan < 4.5)
                                        {
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        }
                                        else if (yorumpuan >= 4.5)
                                        {
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="product-rating">
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        }

                                        <div class="product-btns">
                                            @if (ViewData["KullaniciId"] != null)
                                            {
                                                if (urun != null)
                                                {
                                                    if (urun.Favori == true)
                                                    {
                                                        <button class="add-to-wishlist" onclick="FavoriMouseDurum(@item.Id)">
                                                            <i class="bi bi-heart-fill" style="color:red;"></i><span class="tooltipp">FAVORİLERDEN ÇIKAR</span>
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <button class="add-to-wishlist" onclick="FavoriMouseDurum(@item.Id)">
                                                            <i class="bi bi-heart-fill" style="color:#329d00e6;"></i><span class="tooltipp">FAVORİLERE EKLE</span>
                                                        </button>
                                                    }
                                                }
                                                else
                                                {
                                                    <button class="add-to-wishlist" onclick="FavoriMouseDurum(@item.Id)">
                                                        <i class="bi bi-heart-fill" style="color:#329d00e6;"></i><span class="tooltipp">FAVORİLERE EKLE</span>
                                                    </button>
                                                }
                                            }
                                            else
                                            {
                                                <button class="add-to-wishlist" onclick="window.location.href='/Authentication/LoginEkrani?p=hata'">
                                                    <i class="bi bi-heart-fill" style="color:#329d00e6;"></i><span class="tooltipp">FAVORİLERE EKLE</span>
                                                </button>
                                            }
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        @if (ViewData["KullaniciId"] != null)
                                        {
                                            if (urun != null)
                                            {
                                                if (urun.SepetDurum == true)
                                                {
                                                    <button class="add-to-cart-btn" onclick="SepetMouseDurum(@item.Id)">
                                                        <i class="fa fa-shopping-cart"></i> SEPETTEN ÇIKAR
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button class="add-to-cart-btn" onclick="SepetMouseDurum(@item.Id)">
                                                        <i class="fa fa-shopping-cart"></i> SEPETE EKLE
                                                    </button>
                                                }
                                            }
                                            else
                                            {
                                                <button class="add-to-cart-btn" onclick="SepetMouseDurum(@item.Id)">
                                                    <i class="fa fa-shopping-cart"></i> SEPETE EKLE
                                                </button>
                                            }
                                        }
                                        else
                                        {
                                            <button class="add-to-cart-btn" onclick="window.location.href='/Authentication/LoginEkrani?p=hata'">
                                                <i class="fa fa-shopping-cart"></i> SEPETE EKLE
                                            </button>
                                        }
                                    </div>
                                </a>
                            </div>
                        }
                    }
                    <!-- /product -->
                </div>
                <div id="slick-nav-1" class="products-slick-nav"></div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<br />
<br />
<!-- /Section -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">UYARI!!</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="color:black;font-weight:bold;">
                Yorumu Silmek İstediğinize Emin Misiniz ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Hayır</button>
                <button type="button" id="confirmDeleteLink" class="btn btn-success">Evet</button>
            </div>
        </form>
    </div>
</div>

@section AECScript {

    <script type="text/javascript">

        document.querySelectorAll('.product-btns button, .add-to-cart button').forEach(button => {
            button.addEventListener('click', function (event) {
                event.preventDefault(); // Buton tıklanınca linkin varsayılan davranışını engelle
                event.stopPropagation(); // Olayın yukarı doğru yayılmasını engelle
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            var messageBox = '@TempData["MessageBox"]';
            if (messageBox == 1) {
                MessageBox("success", "Yorum Kayıt Edildi");
            }
            else if (messageBox == 2) {
                MessageBox("success", "Yorum Silindi");
            }
            else if (messageBox == 4) {
                MessageBox("success", "Ürün Favorilere Eklendi");
            }
            else if (messageBox == 5) {
                MessageBox("success", "Ürün Favorilerden Çıkarıldı");
            }
            else if (messageBox == 6) {
                MessageBox("success", "Ürün Sepete Eklendi");
            }
            else if (messageBox == 7) {
                MessageBox("success", "Ürün Sepetten Çıkarıldı");
            }

        });

        function GetSepetMonitorDurum(Id) {

            var adet = document.querySelector('.input-number input').value;

            $.ajax({
                url: '/Home/SepetDurum',
                type: 'GET',
                data: { pMonitorId: Id, pAdet: adet },
                success: function (response) {
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    MessageBox("error", "Ürün sepete eklenirken bir hata oluştu!!");
                }
            });
        }

        function SepetLaptopDurum(Id) {
            $.ajax({
                url: '/Home/SepetDurum',
                type: 'GET',
                data: { pLaptopId: Id },
                success: function (response) {
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    MessageBox("error", "Ürün sepete eklenirken bir hata oluştu!!");
                }
            });
        }

        function FavoriLaptopDurum(Id) {
            $.ajax({
                url: '/Home/FavoriDurum',
                type: 'GET',
                data: { pLaptopId: Id },
                success: function (response) {
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    MessageBox("error", "Ürün favorilere eklenirken bir hata oluştu!!");
                }
            });
        }

        function SepetMonitorDurum(Id) {
            $.ajax({
                url: '/Home/SepetDurum',
                type: 'GET',
                data: { pMonitorId: Id },
                success: function (response) {
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    MessageBox("error", "Ürün sepete eklenirken bir hata oluştu!!");
                }
            });
        }

        function FavoriMonitorDurum(Id) {
            $.ajax({
                url: '/Home/FavoriDurum',
                type: 'GET',
                data: { pMonitorId: Id },
                success: function (response) {
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    MessageBox("error", "Ürün favorilere eklenirken bir hata oluştu!!");
                }
            });
        }

        function SepetMouseDurum(Id) {
            $.ajax({
                url: '/Home/SepetDurum',
                type: 'GET',
                data: { pMouseId: Id },
                success: function (response) {
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    MessageBox("error", "Ürün sepete eklenirken bir hata oluştu!!");
                }
            });
        }

        function FavoriMouseDurum(Id) {
            $.ajax({
                url: '/Home/FavoriDurum',
                type: 'GET',
                data: { pMouseId: Id },
                success: function (response) {
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    MessageBox("error", "Ürün favorilere eklenirken bir hata oluştu!!");
                }
            });
        }

        function deleteModal(id) {
            const confirmDeleteLink = document.getElementById('confirmDeleteLink');

            confirmDeleteLink.onclick = function () {
                window.location.href = '/Home/UrunYorumSil?pUrun=2&pId=' + id;
            };
        }

        $(document).ready(function () {

            $('a[href="#teknikozellikler"]').click(function (e) {
                e.preventDefault();

                $('#tab1').addClass('active in');
                $('#tab2').removeClass('active in');

                $('a[href="#tab1"]').parent().addClass('active');
                $('a[href="#tab2"]').parent().removeClass('active');

                $('html, body').animate({
                    scrollTop: $('#teknikozellikler').offset().top
                }, 500);
            });

            $('a[href="#tab2link"]').click(function (e) {
                e.preventDefault();

                $('#tab2').addClass('active in');
                $('#tab1').removeClass('active in');

                $('a[href="#tab2"]').parent().addClass('active');
                $('a[href="#tab1"]').parent().removeClass('active');

                $('html, body').animate({
                    scrollTop: $('#tab2link').offset().top
                }, 500);
            });
        });

    </script>
}