@model HomeDataModel

@{
    List<KategoriDataModel> kategoriList = ViewData["KategoriList"] as List<KategoriDataModel>;
    List<KategoriDataModel> mainKategoriList = kategoriList.Where(i => i.MainKategoriId == null).ToList();

    int allurun = 0;

    if (Model.LaptopList != null && Model.LaptopList.Count > 0)
    {
        allurun += Model.LaptopList.Count;
    }

    if (Model.MonitorList != null && Model.MonitorList.Count > 0)
    {
        allurun += Model.MonitorList.Count;
    }

    if (Model.MouseList != null && Model.MouseList.Count > 0)
    {
        allurun += Model.MouseList.Count;
    }
}

<style>
    .product-name {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        min-height: 60px; /* Ad alanı sabit yükseklikte olur */
        overflow: hidden; /* Uzun adların taşmasını engeller */
    }
</style>

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li style="text-transform:none;font-size:20px;">@Model.KategoriIdName</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <!-- ASIDE -->
    <div id="aside" class="col-md-2" style="margin-left:20px; margin-right:10px;">
        <!-- aside Widget -->
        <div class="aside">
            <h3 class="aside-title">ÜRÜNLER</h3>
            <div class="checkbox-filter">
                @foreach (var item in mainKategoriList)
                {
                    <div class="input-checkbox">
                        <div style="margin-left:10px;">
                            <i class="bi bi-arrow-right-short"></i>
                            <a href="/Home/UrunlerListSayfasi?pId=@item.Id" style="color:black;">@item.KategoriAdi</a>
                            @if (item.Id == 1)
                            {
                                <small>(@ViewData["AllLaptop"])</small>
                            }
                            else if (item.Id == 2)
                            {
                                <small>(@ViewData["AllMonitor"])</small>
                            }
                            else if (item.Id == 30)
                            {
                                <small>(@ViewData["AllMouse"])</small>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- /aside Widget -->
        <!-- aside Widget -->
        <div class="aside">
            <h3 class="aside-title">Price</h3>
            <div class="price-filter">
                <div id="price-slider"></div>
                <div class="input-number price-min">
                    <input id="price-min" type="number">
                    <span class="qty-up">+</span>
                    <span class="qty-down">-</span>
                </div>
                <span>-</span>
                <div class="input-number price-max">
                    <input id="price-max" type="number">
                    <span class="qty-up">+</span>
                    <span class="qty-down">-</span>
                </div>
            </div>
        </div>
        <!-- /aside Widget -->
        <!-- aside Widget -->
        @foreach (var item in mainKategoriList)
        {
            List<KategoriDataModel> KategoriList1 = kategoriList.Where(i => i.MainKategoriId == item.Id).ToList();

            @foreach (var item2 in KategoriList1)
            {
                List<KategoriDataModel> KategoriList2 = kategoriList.Where(i => i.MainKategoriId == item2.Id).ToList();

                <div class="aside">
                    <h3 class="aside-title" style="text-transform:none;">@item2.KategoriAdi</h3>

                    @foreach (var item3 in KategoriList2)
                    {
                        <div class="checkbox-filter">
                            <div class="input-checkbox">
                                <div style="margin-left:10px;">
                                    <i class="bi bi-arrow-right-short"></i>
                                    @if (item.Id == 1)
                                    {
                                        <a href="/Home/UrunlerListSayfasi?pId=@item3.Id" style="color:black;">@item3.KategoriAdi Laptoplar</a>
                                        if (Model.LaptopList != null && Model.LaptopList.Count > 0)
                                        {
                                            <small>(@Model.LaptopList.Count)</small>
                                        }
                                    }
                                    else
                                    {
                                        <a href="/Home/UrunlerListSayfasi?pId=@item3.Id" style="color:black;">@item3.KategoriAdi Monitörler</a>
                                        if (Model.MonitorList != null && Model.MonitorList.Count > 0)
                                        {
                                            <small>(@Model.MonitorList.Count)</small>
                                        }
                                    }
                                    
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        }
        <!-- /aside Widget -->
    </div>
    <!-- /ASIDE -->
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- STORE -->
            <div id="store">
                <!-- store top filter -->
                <div class="store-sort">
                    <label>
                        SIRALA :
                        <select class="input-select">
                            <option value="0">Popüler</option>
                            <option value="1">En Çok Satanlar</option>
                        </select>
                    </label>
                </div>
                <!-- /store top filter -->
                <!-- store products -->
                <div class="row">
                    <!-- product -->
                    @if (Model.LaptopList != null && Model.LaptopList.Count > 0)
                    {
                        foreach (var item in Model.LaptopList)
                        {
                            <div class="col-md-3 col-xs-6">
                                <div class="product">
                                    <a href="#">
                                        <div class="product-img">
                                            <img src="https://localhost:7044/images/@item.ResimUrl" alt="" height="180">
                                            <div class="product-label">
                                                <span class="sale">-5%</span>
                                                <span class="new">NEW</span>
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-name"><span style="color:#696cff">@item.LaptopAdi</span></h3>
                                            <h4 class="product-price">@Formatting.FormatTurkLirasi(item.Fiyat.Value) <del class="product-old-price">@Formatting.FormatIndirimsizFiyat(item.Fiyat.Value, 5)</del></h4>
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="product-btns">
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o" style="color:#329d00e6"></i><span class="tooltipp">FAVORİYE EKLE</span></button>
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> SEPETE EKLE</button>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                    }

                    @if (Model.MonitorList != null && Model.MonitorList.Count > 0)
                    {
                        foreach (var item in Model.MonitorList)
                        {
                            <div class="col-md-3 col-xs-6">
                                <div class="product">
                                    <a href="#">
                                        <div class="product-img">
                                            <img src="https://localhost:7044/images/@item.ResimUrl" alt="" height="180">
                                            <div class="product-label">
                                                <span class="sale">-5%</span>
                                                <span class="new">NEW</span>
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-name"><span style="color:#696cff">@item.MonitorAdi</span></h3>
                                            <h4 class="product-price">@Formatting.FormatTurkLirasi(item.Fiyat.Value) <del class="product-old-price">@Formatting.FormatIndirimsizFiyat(item.Fiyat.Value, 5)</del></h4>
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="product-btns">
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o" style="color:#329d00e6"></i><span class="tooltipp">FAVORİYE EKLE</span></button>
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> SEPETE EKLE</button>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                    }

                    @if (Model.MouseList != null && Model.MouseList.Count > 0)
                    {
                        foreach (var item in Model.MouseList)
                        {
                            <div class="col-md-3 col-xs-6">
                                <div class="product">
                                    <a href="#">
                                        <div class="product-img">
                                            <img src="https://localhost:7044/images/@item.ResimUrl" alt="" height="180">
                                            <div class="product-label">
                                                <span class="sale">-5%</span>
                                                <span class="new">NEW</span>
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-name"><span style="color:#696cff">@item.MouseAdi</span></h3>
                                            <h4 class="product-price">@Formatting.FormatTurkLirasi(item.Fiyat.Value) <del class="product-old-price">@Formatting.FormatIndirimsizFiyat(item.Fiyat.Value, 5)</del></h4>
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="product-btns">
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o" style="color:#329d00e6"></i><span class="tooltipp">FAVORİYE EKLE</span></button>
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> SEPETE EKLE</button>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                    }
                    <!-- /product -->
                </div>
                <!-- /store products -->
                <!-- store bottom filter -->
                <div class="store-filter clearfix">
                    <span class="store-qty">@allurun SONUÇ LİSTELENİYOR..</span>
                </div>
                <!-- /store bottom filter -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->