@model List<KullaniciKartDataModel>

@foreach (var item in Model)
{
    <a href="/KullaniciKart/KullaniciKartSayfasi?pId=@item.Id" type="button" class="card bg-secondary text-white" style="margin-left:20px;">
        <div class="card-header">@item.KartAdi</div>
        <div class="card-body">
            <h5 class="card-title text-white">@(item.KartNumarasi.Substring(0, 4) + "****" + item.KartNumarasi.Substring(12, 4))</h5>
            <p class="card-text">@item.KartSktay / @item.KartSktyil</p>
        </div>
    </a>
    <button type="button" data-bs-toggle="modal" data-bs-target="#backDropModal" onclick="deleteModal(@item.Id)" class="btn-close bg-white" style="font-size:20px;margin-left:-26px;" aria-label="Close"></button>
}