@{
    string hakkimizdatelefon = "";

    if (ViewData["Hakkimizda_Telefon"] != null)
    {
        hakkimizdatelefon = ViewData["Hakkimizda_Telefon"].ToString();
    }

    string telefonformat = hakkimizdatelefon.Substring(1, 3) + " " + hakkimizdatelefon.Substring(4, 3) + " " + hakkimizdatelefon.Substring(7, 2) + " " + hakkimizdatelefon.Substring(9, 2);

    List<KategoriDataModel> kategoriList = ViewData["KategoriList"] as List<KategoriDataModel>;
    List<KategoriDataModel> mainKategoriList = kategoriList.Where(i => i.MainKategoriId == null).ToList();

    var kullaniciFavoriList = ViewData["KullaniciFavoriList"] as List<UrunTakipDataModel>;
    var kullaniciSepetList = ViewData["KullaniciSepetList"] as List<UrunTakipDataModel>;
}

<style>
    /* Dropdown için hover özelliğini aktif hale getirelim */
    .dropdown:hover > .dropdown-menu {
        display: block;
        border-color: white;
    }

    /* Dropdown menüler için konumlandırma */
    .dropdown-submenu {
        position: relative;
    }

        .dropdown-submenu > .dropdown-menu {
            top: 0;
            margin-top: -1px;
        }

    .qty-btn {
        margin: 10px;
        background-color: #ddd;
        border: none;
        cursor: pointer;
        font-size: 20px;
        height: 20px;
        line-height: 10px;
        border-radius: 3px;
    }

    .qty-label {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-top: 10px;
        margin-left: -80px;
    }

</style>

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AEC - Ali E-Commerce</title>

    <meta name="description" content="" />

    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.0/css/dataTables.dataTables.css" />

    @*  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/lib/toastr/css/toastr.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon/AEC.ico" />

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css?x=1" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="~/css/slick.css?x=1" />
    <link type="text/css" rel="stylesheet" href="~/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="~/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/css/style.css?x=2" />
</head>

<body>
    <!-- HEADER -->
    <header>
        <!-- TOP HEADER -->
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-left">
                    <li><a href="@ViewData["Hakkimizda_whatsappLink"]" target="_blank"><i class="fa fa-phone"></i>+90 @telefonformat</a></li>
                    <li><a href="mailto:@ViewData["Hakkimizda_Email"]"><i class="fa fa-envelope-o"></i>@ViewData["Hakkimizda_Email"]</a></li>
                    <li><a href="https://www.google.com/maps/search/?api=1&query=@ViewData["Hakkimizda_Adres"]" target="_blank"><i class="fa fa-map-marker"></i>Ali E-Commerce Ankara</a></li>
                </ul>
                <ul class="header-links pull-right">
                    <li><a href="https://localhost:7044/Home/Index"><i class="fa fa-user-o"></i> Personel Giriş</a></li>
                    @if (ViewData["KullaniciFullName"] == null)
                    {
                        <li><a href="/Kullanici/KullaniciSayfasi"><i class="bi bi-plus-circle-fill"></i> Kayıt Ol</a></li>
                        <li><a href="/Authentication/LoginEkrani"><i class="bi bi-people-fill"></i> Giriş Yap</a></li>
                    }
                    else
                    {
                        <li><a href="/Kullanici/KullaniciSayfasi?pId=@ViewData["KullaniciId"]"><i class="bi bi-people-fill"></i> @ViewData["KullaniciFullName"]</a></li>
                        <li><a href="/Authentication/LoginEkrani?p=logout"><i class="bi bi-x-circle-fill"></i> Çıkış</a></li>
                    }

                </ul>
            </div>
        </div>
        <!-- /TOP HEADER -->
        <!-- MAIN HEADER -->
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="/Home/Index" style="color:white">
                                <span style="font-size:45px;font-weight:bold;"><img src="~/assets/img/favicon/AEC.ico" style="width:60px;" />EC</span>
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->
                    <!-- SEARCH BAR -->
                    <div class="col-md-6">
                        <div class="header-search">
                            <form>
                                <input id="searchInput" class="input" placeholder="Ürün Ara..." style="font-weight:bold;color:black;">
                                <button type="button" class="search-btn" onclick="searchList()">Sorgula</button>
                            </form>
                        </div>
                    </div>
                    <!-- /SEARCH BAR -->
                    <!-- ACCOUNT -->
                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">
                            @* <!-- Wishlist -->
                            <div>
                            <a href="#">
                            <i class="bi bi-heart-fill"></i>
                            <span>Favoriler</span>
                            <div class="qty">2</div>
                            </a>
                            </div>
                            <!-- /Wishlist --> *@
                            <!-- Cart -->
                            @if (ViewData["KullaniciId"] != null)
                            {
                                <div class="dropdown">
                                    <a id="favoridropdownopen" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" href="#">
                                        <i class="bi bi-heart-fill"></i>
                                        <span>Favoriler</span>
                                        @if (kullaniciFavoriList != null)
                                        {
                                            <div class="qty">@kullaniciFavoriList.Count</div>
                                        }
                                    </a>
                                    <div class="cart-dropdown">
                                        @if (kullaniciFavoriList != null)
                                        {
                                            <div class="cart-list">

                                                @foreach (var item in kullaniciFavoriList)
                                                {
                                                    <div class="product-widget">
                                                        <div class="product-img">
                                                            <img src="https://localhost:7044/images/@item.ResimUrl" alt="">
                                                        </div>
                                                        <div class="product-body">
                                                            @if (item.LaptopId != null)
                                                            {
                                                                <a href="/Home/LaptopDetay?pLaptopId=@item.LaptopId">
                                                                    <span class="product-name">@item.UrunAdi</span>
                                                                </a>
                                                            }
                                                            else if (item.MonitorId != null)
                                                            {
                                                                <a href="/Home/MonitorDetay?pMonitorId=@item.MonitorId">
                                                                    <span class="product-name">@item.UrunAdi</span>
                                                                </a>
                                                            }
                                                            else if (item.MouseId != null)
                                                            {
                                                                <a href="/Home/MouseDetay?pMouseId=@item.MouseId">
                                                                    <span class="product-name">@item.UrunAdi</span>
                                                                </a>
                                                            }

                                                            <div class="qty-label2">
                                                                <span class="price" style="font-weight:bold;">
                                                                    @Formatting.FormatTurkLirasi(item.Fiyat.Value)
                                                                </span>
                                                            </div>
                                                        </div>
                                                        @if (item.LaptopId != null)
                                                        {
                                                            <button class="delete" onclick="FavoriLaptopDurum(@item.LaptopId)"><i class="fa fa-close"></i></button>
                                                        }
                                                        else if (item.MonitorId != null)
                                                        {
                                                            <button class="delete" onclick="FavoriMonitorDurum(@item.MonitorId)"><i class="fa fa-close"></i></button>
                                                        }
                                                        else if (item.MouseId != null)
                                                        {
                                                            <button class="delete" onclick="FavoriMouseDurum(@item.MouseId)"><i class="fa fa-close"></i></button>
                                                        }

                                                    </div>
                                                }

                                            </div>
                                            <div class="cart-summary">
                                                <small style="color:black">@kullaniciFavoriList.Count ürün listeleniyor..</small>
                                                <h5>TOPLAM FİYAT: @Formatting.FormatTurkLirasi(Convert.ToDecimal(kullaniciFavoriList.Sum(i => i.Fiyat)))</h5>
                                            </div>
                                            <div class="cart-btns">
                                                <a href="#" onclick="AllFavoriDelete()" style="background-color:blue">Favorileri Sil</a>
                                                <a href="#" onclick="AllSepeteEkle()" style="background-color:black">Sepete Ekle  <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="cart">
                                                <h4>Binlerce Ürünü Favorine Ekle Hemen Alışveriş Yap!!</h4>
                                                <br />
                                                <a href="/Home/UrunlerListSayfasi" style="font-weight:bold"><i class="bi bi-hand-index"></i> Ürünlere Git</a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" href="#">
                                        <i class="bi bi-heart-fill"></i>
                                        <span>Favoriler</span>
                                    </a>
                                    <div class="cart-dropdown">
                                        <div class="cart">
                                            <h4>Binlerce Ürünü Favorine Ekle Hemen Alışveriş Yap!!</h4>
                                            <br />
                                            <a href="/Kullanici/KullaniciSayfasi" style="font-weight:bold"><i class="bi bi-hand-index"></i> Kayıt Ol</a>
                                            <br />
                                            <br />
                                            <a href="/Authentication/LoginEkrani" style="font-weight:bold"><i class="bi bi-hand-index"></i> Giriş Yap</a>
                                        </div>
                                    </div>
                                </div>
                            }
                            <!-- /Cart -->
                            <!-- Cart -->
                            @if (ViewData["KullaniciId"] != null)
                            {
                                <div class="dropdown">
                                    <a id="sepetdropdownopen" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" href="#">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span>Sepet</span>
                                        @if (kullaniciSepetList != null)
                                        {
                                            <div class="qty">@kullaniciSepetList.Count</div>
                                        }
                                    </a>
                                    <div class="cart-dropdown" id="sepetdropdown">
                                        @if (kullaniciSepetList != null)
                                        {
                                            <div class="cart-list">

                                                @foreach (var item in kullaniciSepetList)
                                                {
                                                    <div class="product-widget">
                                                        <div class="product-img">
                                                            <img src="https://localhost:7044/images/@item.ResimUrl" alt="">
                                                        </div>
                                                        <div class="product-body">
                                                            @if (item.LaptopId != null)
                                                            {
                                                                <a href="/Home/LaptopDetay?pLaptopId=@item.LaptopId">
                                                                    <span class="product-name">@item.UrunAdi</span>
                                                                </a>
                                                            }
                                                            else if (item.MonitorId != null)
                                                            {
                                                                <a href="/Home/MonitorDetay?pMonitorId=@item.MonitorId">
                                                                    <span class="product-name">@item.UrunAdi</span>
                                                                </a>
                                                            }
                                                            else if (item.MouseId != null)
                                                            {
                                                                <a href="/Home/MouseDetay?pMouseId=@item.MouseId">
                                                                    <span class="product-name">@item.UrunAdi</span>
                                                                </a>
                                                            }

                                                            <div class="qty-label">
                                                                <button class="qty-btn" onclick="AdetDurum(@item.Id, -1)">-</button>
                                                                <span style="font-weight:bold;">@item.Adet</span>
                                                                <button class="qty-btn" onclick="AdetDurum(@item.Id, 1)">+</button>
                                                                <span class="price" style="font-weight:bold;">
                                                                    @Formatting.FormatTurkLirasi(item.Fiyat.Value)
                                                                </span>
                                                            </div>
                                                        </div>
                                                        @if (item.LaptopId != null)
                                                        {
                                                            <button class="delete" onclick="SepetLaptopDurum(@item.LaptopId)"><i class="fa fa-close"></i></button>
                                                        }
                                                        else if (item.MonitorId != null)
                                                        {
                                                            <button class="delete" onclick="SepetMonitorDurum(@item.MonitorId)"><i class="fa fa-close"></i></button>
                                                        }
                                                        else if (item.MouseId != null)
                                                        {
                                                            <button class="delete" onclick="SepetMouseDurum(@item.MouseId)"><i class="fa fa-close"></i></button>
                                                        }

                                                    </div>
                                                }

                                            </div>
                                            <div class="cart-summary">
                                                <small style="color:black">@kullaniciSepetList.Count ürün listeleniyor..</small>
                                                <h5 id="totalPrice">TOPLAM FİYAT: @Formatting.FormatTurkLirasi(Convert.ToDecimal(kullaniciSepetList.Sum(i => i.Fiyat)))</h5>
                                            </div>
                                            <div class="cart-btns">
                                                <a href="#" onclick="AllSepetDelete()" style="background-color:blue">Sepeti Sil</a>
                                                <a href="/UrunTakip/SepetSayfasi" style="background-color:black">Sepeti Onayla  <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="cart">
                                                <h4>Binlerce Ürünü Sepetine Ekle Hemen Alışveriş Yap!!</h4>
                                                <br />
                                                <a href="/Home/UrunlerListSayfasi" style="font-weight:bold"><i class="bi bi-hand-index"></i> Ürünlere Git</a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" href="#">
                                        <i class="bi bi-heart-fill"></i>
                                        <span>Sepet</span>
                                    </a>
                                    <div class="cart-dropdown">
                                        <div class="cart">
                                            <h4>Binlerce Ürünü Sepetine Ekle Hemen Alışveriş Yap!!</h4>
                                            <br />
                                            <a href="/Kullanici/KullaniciSayfasi" style="font-weight:bold"><i class="bi bi-hand-index"></i> Kayıt Ol</a>
                                            <br />
                                            <br />
                                            <a href="/Authentication/LoginEkrani" style="font-weight:bold"><i class="bi bi-hand-index"></i> Giriş Yap</a>
                                        </div>
                                    </div>
                                </div>
                            }
                            <!-- /Cart -->
                            <!-- Menu Toogle -->
                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>
                            <!-- /Menu Toogle -->
                        </div>
                    </div>
                    <!-- /ACCOUNT -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
    </header>
    <!-- /HEADER -->
    <!-- NAVIGATION -->
    <nav id="navigation">
        <!-- container -->
        <div class="container">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav nav navbar-nav">

                    @foreach (var item in mainKategoriList)
                    {
                        <li class="dropdown">
                            <a href="/Home/UrunlerListSayfasi?pId=@item.Id" style="color:black;font-weight:bold;font-size:20px;">
                                @item.KategoriAdi
                            </a>
                            <ul class="dropdown-menu" style="min-width:max-content;background-color:#2c313c">
                                <li>
                                    <div class="row">
                                        @{
                                            List<KategoriDataModel> KategoriList1 = kategoriList.Where(i => i.MainKategoriId == item.Id).ToList();
                                        }

                                        @foreach (var item2 in KategoriList1)
                                        {
                                            <div class="col-lg-2" style="width:245px;margin:10px;">

                                                <span style="font-weight:bold;font-size:15px;color:#696cff">@item2.KategoriAdi</span>
                                                <ul>
                                                    <br />
                                                    @{
                                                        List<KategoriDataModel> KategoriList2 = kategoriList.Where(i => i.MainKategoriId == item2.Id).ToList();
                                                    }

                                                    @foreach (var item3 in KategoriList2)
                                                    {
                                                        <div class="col-md-1"></div>
                                                        @if (item.Id == 1)
                                                        {
                                                            <li><a href="/Home/UrunlerListSayfasi?pId=@item3.Id" style="margin-left:5px;color:white;">@item3.KategoriAdi Laptoplar</a></li>
                                                        }
                                                        else if (item.Id == 2)
                                                        {
                                                            <li><a href="/Home/UrunlerListSayfasi?pId=@item3.Id" style="margin-left:5px;color:white;">@item3.KategoriAdi Monitörler</a></li>
                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        }
                                    </div>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
                <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- /container -->
    </nav>
    <!-- /NAVIGATION -->
    @RenderBody()
    <!-- FOOTER -->
    <footer id="footer">
        <!-- top footer -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">HAKKIMIZDA</h3>
                            <p>Ali E-Commerce, İletişim için.. </p>
                            <ul class="footer-links">
                                <li><a href="https://www.google.com/maps/search/?api=1&query=@ViewData["Hakkimizda_Adres"]" target="_blank"><i class="fa fa-map-marker"></i>Ali E-Commerce Ankara</a></li>
                                <li><a href="@ViewData["Hakkimizda_whatsappLink"]" target="_blank"><i class="fa fa-phone"></i>+90 @telefonformat</a></li>
                                <li><a href="mailto:@ViewData["Hakkimizda_Email"]"><i class="fa fa-envelope-o"></i>@ViewData["Hakkimizda_Email"]</a></li>
                                <li><span><i class="bi bi-clock-fill"></i>@ViewData["Hakkimizda_CalismaGunleri"]</span></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">KATEGORİLER</h3>
                            <ul class="footer-links">
                                @foreach (var item in mainKategoriList)
                                {
                                    <li><a href="/Home/UrunlerListSayfasi?pId=@item.Id">@item.KategoriAdi</a></li>
                                }
                            </ul>
                        </div>
                    </div>

                    <div class="clearfix visible-xs"></div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">BİLGİ</h3>
                            <ul class="footer-links">
                                <li><a href="/Hakkimizda/HakkimizdaSayfasi">Ali E-Commerce</a></li>
                                <li><a href="/Hakkimizda/IletisimSayfasi">Bize Ulaşın</a></li>
                                <li><a href="/Hakkimizda/GizlilikSayfasi">Gizlilik Politikası</a></li>
                                <li><a href="/Hakkimizda/SiparisIadelerSayfasi">Siparişler ve İadeler</a></li>
                                <li><a href="/Hakkimizda/SartlarKosullarSayfasi">Şartlar ve Koşullar</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">HİZMETLER</h3>
                            <ul class="footer-links">
                                @if (ViewData["KullaniciId"] != null)
                                {
                                    <li><a href="/Kullanici/KullaniciSayfasi?pId=@ViewData["KullaniciId"]">Hesabım</a></li>
                                    <li><a href="/UrunTakip/SiparisSayfasi">Siparişlerim</a></li>
                                    <li><a href="/UrunYorum/UrunYorumSayfasi">Değerlendirmelerim</a></li>
                                    <li><a href="@ViewData["Hakkimizda_whatsappLink"]" target="_blank">Destek</a></li>
                                }
                                else
                                {
                                    <li><a href="/Authentication/LoginEkrani?p=hata">Hesabım</a></li>
                                    <li><a href="/Authentication/LoginEkrani?p=hata">Siparişlerim</a></li>
                                    <li><a href="/Authentication/LoginEkrani?p=hata">Değerlendirmelerim</a></li>
                                    <li><a href="@ViewData["Hakkimizda_whatsappLink"]" target="_blank">Destek</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /top footer -->
        <!-- bottom footer -->
        <div id="bottom-footer" class="section">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="footer-payments">
                            <li><a><i class="fa fa-cc-visa"></i></a></li>
                            <li><a><i class="fa fa-cc-paypal"></i></a></li>
                            <li><a><i class="fa fa-cc-mastercard"></i></a></li>
                        </ul>
                        <span class="copyright">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |  <a href="/Home/Index" target="_blank" class="footer-link fw-bolder" style="color:white">Ali E-Commerce</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            <div style="margin-top:10px;">
                                <a href="@ViewData["Hakkimizda_whatsappLink"]" target="_blank" class="menu-icon tf-icons"><img src="~/icons/whatsapp.png" /></a>
                                <a href="https://www.instagram.com/" target="_blank" class="menu-icon tf-icons"><img src="~/icons/instagram.png" /></a>
                            </div>
                        </span>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /bottom footer -->
    </footer>
    <!-- /FOOTER -->

    <script type="text/javascript" src="~/lib/jquery/js/jquery-3.7.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.0/js/dataTables.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/toastr/js/toastr.min.js"></script>
    <script src="~/lib/chartjs/js/chart.js"></script>
    <script src="~/js/master.js"></script>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/nouislider.min.js"></script>
    <script src="~/js/jquery.zoom.min.js"></script>

    <script src="~/js/main.js?x=1"></script>
    <script src="~/js/wNumb.min.js"></script>

    <script>

        function searchList() {
            var aramaterimi = document.getElementById("searchInput").value;
            if (aramaterimi) {
                var searchUrl = "/Home/UrunlerListSayfasi?searchTerm=" + encodeURIComponent(aramaterimi);
                window.location.href = searchUrl;
            }
            else {
                window.location.href = "/Home/UrunlerListSayfasi";
            }
        }

        function AllSepeteEkle() {
            $.ajax({
                url: '/UrunTakip/AllSepeteEkle',
                type: 'GET',
                success: function (response) {
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    MessageBox("error", "Ürünler sepete eklenirken bir hata oluştu!!");
                }
            });
        }

        function AllFavoriDelete() {
            $.ajax({
                url: '/UrunTakip/AllFavoriDelete',
                type: 'GET',
                success: function (response) {
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    MessageBox("error", "Favoriler silinirken bir hata oluştu!!");
                }
            });
        }

        function AllSepetDelete() {
            $.ajax({
                url: '/UrunTakip/AllSepetDelete',
                type: 'GET',
                success: function (response) {
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    MessageBox("error", "Sepetteki ürünler silinirken bir hata oluştu!!");
                }
            });
        }

        function AdetDurum(productId, change) {
            $.ajax({
                url: '/UrunTakip/AdetDurum',
                type: 'GET',
                data: { pId: productId, pAdet: change },
                success: function (response) {
                    localStorage.setItem('openCartDropdown', 'true');
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    MessageBox("error", "Ürün adeti güncellenirken bir hata oluştu!!");
                }
            });
        }

        $(document).ready(function () {
            if (localStorage.getItem('openCartDropdown') === 'true') {
                $('#sepetdropdownopen').click();
                localStorage.removeItem('openCartDropdown');
            }
        });

        function SepetLaptopDurum(Id) {

            $.ajax({
                url: '/UrunTakip/SepetDurum',
                type: 'GET',
                data: { pLaptopId: Id },
                success: function (response) {
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    MessageBox("error", "Ürün sepete eklenirken bir hata oluştu!!");
                }
            });
        }

        function FavoriLaptopDurum(Id) {
            $.ajax({
                url: '/UrunTakip/FavoriDurum',
                type: 'GET',
                data: { pLaptopId: Id },
                success: function (response) {
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    MessageBox("error", "Ürün favorilere eklenirken bir hata oluştu!!");
                }
            });
        }

        function SepetMonitorDurum(Id) {
            $.ajax({
                url: '/UrunTakip/SepetDurum',
                type: 'GET',
                data: { pMonitorId: Id },
                success: function (response) {
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    MessageBox("error", "Ürün sepete eklenirken bir hata oluştu!!");
                }
            });
        }

        function FavoriMonitorDurum(Id) {
            $.ajax({
                url: '/UrunTakip/FavoriDurum',
                type: 'GET',
                data: { pMonitorId: Id },
                success: function (response) {
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    MessageBox("error", "Ürün favorilere eklenirken bir hata oluştu!!");
                }
            });
        }

        function SepetMouseDurum(Id) {
            $.ajax({
                url: '/UrunTakip/SepetDurum',
                type: 'GET',
                data: { pMouseId: Id },
                success: function (response) {
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    MessageBox("error", "Ürün sepete eklenirken bir hata oluştu!!");
                }
            });
        }

        function FavoriMouseDurum(Id) {
            $.ajax({
                url: '/UrunTakip/FavoriDurum',
                type: 'GET',
                data: { pMouseId: Id },
                success: function (response) {
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    MessageBox("error", "Ürün favorilere eklenirken bir hata oluştu!!");
                }
            });
        }

    </script>

    @await RenderSectionAsync("AECScript", required: false)

</body>
</html>