@model List<KullaniciDataModel>

@{
    int siralama = 1;
}

<div class="table-responsive text-nowrap bg-dark" style="height:73vh;">
    <table class="table table-dark">
        <thead>
            <tr>
                <th></th>
                <th>ADI SOYADI</th>
                <th>EMAİL</th>
                <th>TELEFON</th>
                <th>EKLEYEN</th>
                <th>GÜNCELLEME TARİHİ</th>
                <th>KULLANICI TÜRÜ</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="table-border-bottom-0">

            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        @siralama
                    </td>
                    <td>@item.FullName</td>
                    <td>@item.Email</td>
                    <td>@item.Telefon</td>
                    <td>@item.CreatedByName</td>
                    <td>@item.CreatedAt</td>
                    <td>
                        @if (item.KullaniciTuruName == "Admin")
                        {
                            <span class="text-success">@item.KullaniciTuruName</span>
                        }
                        else
                        {
                            <span class="text-danger">@item.KullaniciTuruName</span>
                        }
                    </td>
                    <td>
                        @if (ViewData["KullaniciTuru"] == "Admin" || item.Id == Convert.ToInt32(ViewData["KullaniciId"]))
                        {
                            <div class="dropdown">
                                <a type="button" class="btn p-0 dropdown-toggle hide-arrow text-secondary" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </a>
                                <div class="dropdown-menu" style="background-color:black">

                                    <a class="dropdown-item text-warning" href="/Kullanici/PersonelSayfasi?pId=@item.Id"><i class="bx bx-edit-alt me-1"></i> Düzenle</a>
                                    @if (ViewData["KullaniciTuru"] == "Admin" && item.Id != Convert.ToInt32(ViewData["KullaniciId"]))
                                    {
                                        <button type="button" class="dropdown-item text-danger"
                                                data-bs-toggle="modal"
                                                data-bs-target="#backDropModal"
                                                onclick="deleteModal(@item.Id)">
                                            <i class="bx bx-trash me-1"></i> Sil
                                        </button>
                                    }
                                </div>
                            </div>
                        }

                    </td>
                </tr>

                siralama++;
            }

        </tbody>
    </table>
</div>